extends layout

block content
    h1= "#thejobfairy"

    h2= "Categories"
    
    ul
    each category in categories
        if category.tweets.length > 0
            li
                a(href="/category/" + category.slug)=category.title

    h2= "Tags"
    
    ul
    each tag in tags
        if tag.tweets.length > 0
            li
                a(href="/tag/" + tag.title)=tag.title

    h2= "Locations"
    
    ul
    each location in locations
        if location.tweets.length > 0
            li
                a(href="/location/" + location.slug)=location.title

